name: Release Flm Companion

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        working-directory: src
        run: npm install

      - name: Build Tauri app
        working-directory: src
        run: npm run tauri build

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
          #  src/src-tauri/target/release/flm-manager.exe
            src/src-tauri/target/release/bundle/nsis/*.exe
          #  src/src-tauri/target/release/bundle/msi/*.exe
          draft: false
          prerelease: false
          generate_release_notes: true
